= error_messages @user

= form_for @user do
  %fieldset
    %legend Create a new user
    %p
      %label{ :for => 'user_name' } User Name
      = text_field :name => 'user[user_name]', :id => 'user_name'
    %p
      %label{ :for => 'password' } Password
      = password_field :name => 'user[password]', :id => 'password'
    %p
      %label{ :for => 'password_confirmation' } Confirm
      = password_field :name => 'user[password_confirmation]', :id => 'password_confirmation'
    %p
      %label{ :for => 'recaptcha_response_field' } Captcha
    #recaptcha_container= recaptcha_tags
    = submit 'Create'
