- dim = 100
#inner_scrolling_photo_block{ :style => (request.xhr? ? 'display: none;' : '') }
  %table{ :cellspacing => 0, :cellpadding => 0 }
    %tr
      %td{ :style => "width: 140px; height: 150px;" }
        - if @photos[0]
          %a{ :href => url(:photo, @photos[0]), :onclick => 'window.open(this.href);return false;' }
            %img{ :src => photo_url(@photos[0], dim, dim) }
          %p== <tt>#{@photos[0].one_votes.to_i} / #{@photos[0].oneness}%</tt>
      %td{ :style => "width: 140px; height: 150px;" }
        - if @photos[1]
          %a{ :href => url(:photo, @photos[1]), :onclick => 'window.open(this.href);return false;' }
            %img{ :src => photo_url(@photos[1], dim, dim) }
          %p== <tt>#{@photos[1].one_votes.to_i} / #{@photos[1].oneness}%</tt>
    %tr
      %td{ :style => "width: 140px; height: 150px;" }
        - if @photos[2]
          %a{ :href => url(:photo, @photos[2]), :onclick => 'window.open(this.href);return false;' }
            %img{ :src => photo_url(@photos[2], dim, dim) }
          %p== <tt>#{@photos[2].one_votes.to_i} / #{@photos[2].oneness}%</tt>
      %td{ :style => "width: 140px; height: 150px;" }
        - if @photos[3]
          %a{ :href => url(:photo, @photos[3]), :onclick => 'window.open(this.href);return false;' }
            %img{ :src => photo_url(@photos[3], dim, dim) }
          %p== <tt>#{@photos[3].one_votes.to_i} / #{@photos[3].oneness}%</tt>
