#main_photo_container
  = partial 'photos/photo'
  
  - v = Vote.voted_for? @photo, current_user
  - if v
    #mini_container.centered
      %div.stat_box
        %p
          %strong You voted
          %br
          %tt= v.to_i
      
      %div.stat_box
        %p
          %strong Total <tt>0</tt>
          %br
          = @photo.zero_votes
      
      %div.stat_box
        %p
          %strong Total <tt>1</tt>
          %br
          %tt= @photo.one_votes
      
      %div.stat_box
        %p
          %strong Total Votes
          %br
          %tt= @photo.votes.size
      
      %div.stat_box
        %p
          %strong Oneness
          %br
          %tt== #{@photo.oneness}%
    
    %br{ :style => 'clear: both' }
    
    %div.centered{ :style => "width: 400px;"}
      = vote_count @photo
  
  #outer_vote_container
    %div{ :style => 'display: none', :id => 'to_be_voted' }
      = partial 'votes/vote_controls'
